.app {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.results-pane {
  width: 450px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border: 10px solid #eee;
}

.results-pane header {
  background: #eee;
  padding: 0 0 10px 10px;
}

.results-pane header h1 {
  font-size: 1.25em;
  margin-top: 0;
}

.search-controls select {
  margin-left: 5px;
  font-size: 1em;
}

.results-pane main {
  flex: 1;
  overflow-y: auto;
}

.results-container {
  height: 100%;
}

.results-map {
  width: 100%;
  height: 100vh;
}

.results-list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.result-item {
  padding: 10px;
  background: white;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.result-name {
  font-size: 1em;
  margin: 0.4em 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 450px;
}

.result-item .result-name {
  font-weight: normal;
}

.result-details {
  margin: 0.4em 0;
  font-size: 0.85em;
}

.result-item .result-details {
  color: #666;
}

.result-info-window {
  font-size: 16px;
}

.results-pane footer {
  color: #666;
  background-color: #eee;
  font-size: 0.8em;
  padding: 10px 10px 0;
}

.error-message {
  padding: 10px;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 900px) {
  .app {
    flex-direction: column;
  }
  .results-pane {
    width: 100%;
    height: 50vh;
  }
  .results-map {
    height: 50vh;
  }
  .result-info-window .result-name {
    max-width: 250px;
  }
}